{% extends "groups/group_base.html" %}
{% block pregroup %}
<div class="form-0" style="min-width: 350px;">
  <div class="">
      {% if user.is_authenticated %}
      <h2 class="text-center">
          <a href="{% url 'posts:for_user' username=user.username %}"><strong>@{{user.first_name}}</strong></a>
      </h2>

      {% endif %}
      <h2>Groups</h2>
  </div>





{% endblock %}


{% block group_content %}

<div class="">
  <div class="list-group">
      {% for group in object_list %}
      <a class="list-group-item" href="{% url 'groups:single' slug=group.slug %}">
        <h3 class="title">{{group.name}}</h3>
        <div class="">
          {{group.description_html|safe}}
          <div class="row">
            <div class="col-md-5 col-sm-5 col-xs-5">
              <span class="badge">{{group.members.count}}</span>
              members{{group.members.count|pluralize}}
            </div>

            <div class="">
              <span class="badge">{{group.posts.count}}</span>
              posts{{group.posts.count|pluralize}}
            </div>

          </div>
        </div>
      </a>
      {% endfor %}

  </div>
    {% if user.is_authenticated %}
    <a href="{% url 'groups:create' %}" class="btn-0" style="color: white;">New Group</a>
  {% endif %}
</div>
</div>

{% endblock %}
